:root {
 //#region Colors
 --orange: #e9800a;
 --hitpink: #ffa275;
 --sweetcorn: #fad585;
 --sandswip: #f7f3a9;
 --bittersweet: #ff6c6c;
 --darkteal: #006c67;
 --rainee: #adc7a7;
 --brownie: #a48155;
 --darkred: #150303;
 --black: #272727;
 --teal: #eaf4f7; //#endregion
 //#region Time variables
 --transition-d: 0.2s;
 //#endregion
}
