:root {
 //#region Colors
 --orange: #e9800a;
 --hitpink: #ffa275;
 --sweetcorn: #fad585;
 --sandswip: #f7f3a9;
 --bittersweet: #ff6c6c;
 --teal: #eaf4f7;
 --darkteal: #006c67;
 --rainee: #adc7a7;
 --dark: #272727;
 --darkred: #150303;
 --mistgray: #494949;
 //#endregion
}
