@use '../global/' as *;

@layer components {
 .server-item {
  grid-template-areas:
   'name name name'
   'op ip ip';
  &_name {
   grid-area: name;
   &:hover {
    color: var(--bittersweet);
    cursor: pointer;
   }
  }
  &_online-players {
   grid-area: op;
  }
  &_ip {
   grid-area: ip;
  }
 }
}
