table,
th,
td {
 border: 1px solid black;
 border-collapse: collapse;
 @apply p-1;
}
th {
 text-align: left;
 width: 30%;
}
td {
 width: 70%;
}
.server-specs {
 h1:first-of-type {
  @apply w-full rounded-t-lg bg-[var(--mistgray)] pb-2 pt-2 text-center text-white;
 }
 &_info {
 }
 &_details {
 }
 &_switcher {
  @apply w-full;
 }
}
