table,
th,
td {
 border: 1px solid rgb(229, 231, 235);
 border-collapse: collapse;
 padding: 4px;
 text-wrap: balance;
}

th {
 text-align: left;
 width: 30%;
 @apply max-sm:text-sm;
}
td {
 word-break: break-word;
}
