@use '../global/' as *;

.server-list {
 align-items: center;
 @apply grid w-screen grid-cols-1 place-items-center gap-y-[10px] md:w-full md:grid-cols-2 md:gap-x-5 lg:w-fit xl:grid-cols-3 xl:gap-x-[25px];
}
.server-item {
 grid-template-areas:
  'name name name name name'
  'op op ip ip ip'
  'op op ver ver ver'
  'tags tags tags tags tags';

 @apply mt-2 grid h-[175px] w-[95%] grid-cols-5 rounded-lg shadow-md md:h-[150px] md:w-[360px] lg:h-[175px] lg:w-[400px] 2xl:h-[200px] 2xl:w-[500px];
 &_name {
  grid-area: name;
  @apply h-fit rounded-t-md bg-gray-200 text-center font-normal transition-[color] sm:pt-[0px] 2xl:text-[20px];
  &:hover {
   color: var(--bittersweet);
   cursor: pointer;
  }
 }
 &_tags {
  grid-area: tags;

  @apply inline-flex flex-wrap overflow-auto p-1;
  &_tag {
   @apply m-[1px] inline-flex h-fit cursor-pointer flex-wrap rounded-lg bg-[var(--rainee)] p-[6px] text-[12px] font-normal text-[var(--black)] transition-colors xl:text-[14px];
   &:hover {
    @apply bg-[var(--darkteal)] text-white;
   }
  }
 }
 &_online-players {
  grid-area: op;
  @apply m-1 h-fit rounded-b-md rounded-t-md bg-gray-200 text-center font-normal;
  &_status {
   @apply block rounded-b-md text-white;
   &.status-offline {
    @apply bg-red-500;
   }
   &.status-online {
    @apply bg-emerald-500;
   }
  }
 }
 &_ip {
  grid-area: ip;

  @apply mb-1 mr-1 mt-1 rounded-md border border-[var(--black)] text-center text-sm md:text-base;
 }
 &_version {
  grid-area: ver;
  height: 100%;
 }
}
